<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Look in Tens</title>
    <link rel="icon" href="<%= static_path(@conn, "/images/favicon.png") %>" />
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/style.css") %>">
  </head>

  <body>
    <div class="container" role="main">
      <div class="header">
        <span class="logo">Look in Tenssyyy</span>
      </div>

      <%= render @view_module, @view_template, assigns %>

    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
