@import "colors"

body, form, ul, table
  background white
  color regularText
  margin-top 20px
  margin-bottom 20px

a
  blue()
  &:hover
    blue()

.alert:empty
  display none

.content
  clear both
  float none

form
  &.link,
  &.button
    display inline

.container-narrow > hr
  margin 30px 0

.jumbotron
  background transparent
  border-bottom 0
  display inline-block
  margin-top 30px
  text-align center

.container
  max-width 730px

.header
  margin-bottom 30px

input
  -webkit-appearance: none
