.header,
.marketing
  padding-right 0
  padding-left 0
  a
    color regularText
    &:hover,
    &:visited
      color regularText
  .logo
    display inline-block
    float left
    font-size 20px
    font-weight bold
    height 41px
    margin-bottom 1em
    width 50%
  nav
    float right
    margin-top 10px
    a
      font-weight bold
