@import 'colors'

fontSize = 20px
borderColor = #aaa
borderRadius = 4px

.react-autowhatever
  &__container
    position relative
  &__items-container
    position relative
    top -1px
    width 100%
    margin 0
    padding 0
    list-style-type none
    border 1px solid regularBlue
    background-color #fff
    font-size fontSize
    border-bottom-left-radius borderRadius
    border-bottom-right-radius borderRadius
    z-index 2
  &__container--open input
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0

  &__input
    width 100%
    padding 5px 16px
    font-size fontSize
    border 1px solid regularBlue
    border-radius borderRadius
    &:focus
      outline none


.react-autowhatever__item
  border-bottom-left-radius borderRadius
  border-bottom-right-radius borderRadius
  cursor pointer
  padding 10px 20px
  &:hover,
  &--focused
    background-color #eee

.section-title
  padding 10px 0 0 10px
  font-size 12px
  color #777
  border-top 1px dashed #ccc
  .section-container:first-child &
    border-top 0

.section-items-container
  margin 0
  padding 0
  list-style-type none
